*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1{
    color: blue;
    margin-bottom: 20px;
}

body{
    padding: 30px;
}

.dataentry ul li{
    padding: 10px 0;
}

#first_name, 
#last_name, 
#fav_color{
    color: blue;
    font-size: 20px;
    font-weight: bold;
}

#user_password{
    font-size: 30px;
    font-weight: bold;
}