.flex{
    display: flex;
}

body{
    background-color: aliceblue;   
    width: 1200px;
    margin: 0 auto;
}

header{
    justify-content: center;
}


.h_container{
    height:300px;
    width: 800px;
    background-image: url(../img/passgen.png);
    background-repeat: no-repeat;
}


main{
    flex-direction: column;
    justify-content: center;
    padding: 30px;

}

h1{
    color: blue;
    margin-bottom: 20px;
}


.dataentry ul li{
    padding: 10px 0;
}

#first_name, 
#last_name, 
#fav_color{
    color: blue;
    font-size: 20px;
    font-weight: bold;
}

#user_password{
    font-size: 30px;
    font-weight: bold;
}