
body{
    background-color: aliceblue;   
}


.h_container{
    height:300px;
    width: 800px;
    background-image: url(../img/passgen.png);
    background-repeat: no-repeat;
}


main h1{
    color: blue;
}


#first_name, 
#last_name, 
#fav_color{
    color: blue;
    font-size: 20px;
    font-weight: bold;
}

#user_password{
    font-size: 30px;
    font-weight: bold;
}